<h4>Add a student:</h4>
<table class="edit">
    <tr>
        <td>Name: </td>
        <td><input #name/></td>
    </tr>
    <tr>
        <td>Major: </td>
        <td><input #major/></td>
    </tr>
</table>
<button class="add" (click)="add(name.value, id.value, major.value); name.value=''; id.value=''; major.value=''">Add</button>
<h3>List of students: </h3>
<ul class="list">
    <li *ngFor = "let hero of list" class="element">
        <a class="content" routerLink="/details/{{hero.id}}">
            <table>
                    <tr>
                        <td>Name: </td>
                        <td>{{hero.name}}</td>
                    </tr>
                    <tr>
                        <td>ID: </td>
                        <td>{{hero.id}}</td>
                    </tr>
                    <tr>
                        <td>Major: </td>
                        <td>{{hero.major}}</td>
                    </tr>
                </table>
        </a>
        <button class="delete" (click)="delete(hero)">DELETE</button>
    </li>
</ul>
